* {
  box-sizing: border-box;
}
table, td {
  border: 1px solid;
}

#demo .carousel-item {
  height: 350px; /* height of carousel */
}

#demo .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* keeps the image cropped nicely */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: #66ff69;
  padding: 0;
  padding-top 50px;
  z-index: 3;
}
header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.text-container1 {
  border-radius: 25px;
  background-color: #ffffff;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.Image_1 {
  position: absolute;
  top: 55%;
  left: 90%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;
}

.Image_2 {
  position: absolute;
  top: 65%;
  left: 90%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;
}

.Image_3 {
  position: absolute;
  top: 75%;
  left: 90%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;
}
.Image_4 {
  position: absolute;
  top: 75%;
  left: 30%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;
}

.Image_5 {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;
}
.Image_6 {
  position: absolute;
  top: 75%;
  left: 70%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;	
}
.Image_7 {
  position: absolute;
  top: 75%;
  left: 70%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;	
}
.Image_8 {
  position: absolute;
  top: 75%;
  left: 70%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;	
}
.Image_9 {
  position: absolute;
  top: 75%;
  left: 70%;
  width: 50px;
  height: 50px;
  z-index: 2;
  margin-top: 20px;	
}

.navbar {
  width: 100%;
  background-color: #111;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  position: fixed;      /* stays at top */
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  display: block;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}
/* Column container */
.container {  
  display: flex;
  flex-wrap: wrap;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.Banner {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50%;
}
h1 {
  position: absolute;
  top: 100px;
  left: 45%;
  font-size: 50px;
  color: #000000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}

h2 {
  position: absolute;
  top: 150px;
  left: 45%;
  font-size: 30px;
  color: #000000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}

p {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}


footer {
  position: center;
  padding:20px
  bottom: 0px;
  text-align: center;
  left: 40%;
  z-index: 3;

}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}
